---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 4: Evaluación Económica del Proyecto" description="Descubre cómo evaluar la viabilidad económica de tu proyecto con herramientas avanzadas en Excel. Aprende a calcular el presupuesto, costos, flujo de caja y los indicadores financieros clave como VPN, TIR y Payback.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 4: Evaluación Económica del Proyecto" 
      highlightText="Módulo 4:"
      description="Este módulo incluye herramientas en Excel para gestionar el presupuesto, costos y flujo de caja del proyecto. Se calculan indicadores como VPN, TIR y Payback para evaluar su viabilidad económica, y se elabora una oferta comercial clara que presenta la solución."
    />
    
     <section class="py-16 bg-white dark:bg-gray-800">
      <div class="container-custom">

        <div class="text-left max-w-3xl mx-auto mb-8 md:mb-16 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-accent-50 dark:bg-accent-950 text-info-50 dark:text-info-100 font-medium text-sm mb-4">
            Módulo 4
          </span>
          <h2 class=" text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">Descripción del Proyecto</h2>
          <p>
            Se realiza una propuesta para la implementación de un sistema automatizado que permitira la manofacturación de 500 motor reductores al mes, contanda con hasta con tres tipos de estos:<br>
          </p>

          <ul class="list-disc list-inside">
            <li>Sin fin corono</li>
            <li>Helicoidales</li>
            <li>Conicos</li>
          </ul>
          <p>
            Para calcular el costo del proyecto se consultaron lo precios indeviduales de los equipos a obtener, los cuales se especifican en otras partes de la pagina,
            el costo del seguro se obtuvo por la formula para estimar el costo del seguro de una empresa aseguradora la cual esta sujeta a cambiar cuando se trate de los especificos.
            El costo del transporte, maritimo y terrestre, se consiguieron con las empresas responsables por el servicio, mientras las tarifas se obtuvo un coste inicial para unos equipos
            diferentes a los finales, por lo que se extrapolo el costo para los finalmente seleccionados. Los costos relacionados a ingeniero de montaje, tecnicos y acondicionamiento hacen
            referencia a lo que costaria realizar la instalación, una alternativa es hacer una cotización con una empresa que se especialice en la instalación de este tipo de equipos. Finalmente
            los consto de ingenieros de diseño y de ingenieria son los relacionados al de la empresa, en este caso nosotros, que realizara el proyecto.
          </p>
        </div>
        <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700">
            
          </div>
      </div> 
    </section>

    <section class="section bg-linear-to-br from-primary-600 to-primary-800 dark:from-primary-800 dark:to-primary-900 text-white py-12 md:py-16">
      <div class="container-custom">
        <div class="text-center max-w-3xl mx-auto mb-2 md:mb-16 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-accent-50 dark:bg-accent-950 text-info-50 dark:text-info-100 font-medium text-sm mb-4">
            Módulo 4
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-2 text-gray-400 dark:text-white">Links</h2>
          <p class="text-gray-300 dark:text-gray-300">
            Documentación y recursos del módulo.
          </p>
        </div>

        <div class="max-w-4xl mx-auto">
          <h2 class="text-2xl font-bold mb-4">Hoja de calculo</h2>
          <a 
            href="https://docs.google.com/spreadsheets/d/1m_C5lV2ieLk-fXR1gjkCxz-22h-taUzaezET-18A3vQ/edit?usp=sharing"
            target="_blank"
            rel="noopener"
            class="inline-block bg-accent-300 dark:bg-accent-600 text-info-50 dark:text-info-100 px-6 py-3 rounded-lg shadow hover:bg-accent-50 dark:hover:bg-accent-950 transition">
            Ver ahora
          </a>

          <h2 class="text-2xl font-bold mb-4">Modelo Canva</h2>
          <a 
            href="https://github.com/JoseAlejandroRosero/Los4Automaticos/blob/main/public/documentos/Business_Model.png"
            target="_blank"
            rel="noopener"
            class="inline-block bg-accent-300 dark:bg-accent-600 text-info-50 dark:text-info-100 px-6 py-3 rounded-lg shadow hover:bg-accent-50 dark:hover:bg-accent-950 transition">
            Ver oferta comercial
          </a>

          <h2 class="text-2xl font-bold mb-4 mt-4">Ver documentación</h2>
          <a 
            href="https://github.com/JoseAlejandroRosero/Los4Automaticos"
            target="_blank"
            rel="noopener"
            class="inline-block bg-accent-300 dark:bg-accent-600 text-info-50 dark:text-info-100 px-6 py-3 rounded-lg shadow hover:bg-accent-50 dark:hover:bg-accent-950 transition">
            Documentación del módulo en github
          </a>
      </div>
    </section>
  </main>
  <Footer />
</Layout> 
