---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
import Pyramid from '../components/Pyramid.astro';
import '../styles/Pyramid.css';
---

<Layout title="Los4Automaticos - Módulo 1: Automatización e Industria 4.0" description="Explora el Módulo 1 de Los4Automaticos, donde presentamos diagramas de instrumentación de algunos procesos, identificando sensores y actuadores clave, así como la arquitectura de control y sus comunicaciones. Integrando tecnologías de Industria 4.0 como el gemelo digital y el IIoT a tráves del uso de contenedores en la Nube de software SCADA.">
  <Header />
  <main>

    <HeroSection 
      title="Reflexiones" 
      highlightText="Reflexiones"
	  description="Gestión de Proyecto; Trabajo Colaborativo; Proceso de Aprendizaje; Recomendaciones para futuros trabajos de Aprendizaje Basado en Problemas orientado a Proyecto."
    />
    



  </main>
  <Footer />
</Layout>
